.addFriendBox{
    position: fixed;
    bottom: 100px;
    right: 30px;
  }
  .addFriendImg{
    background: var(--bg-5);
    border-radius: 100px;
  }
  
  .noFriendTemplate{
    opacity: 0.6;
    font-size: 140%;
    text-align: center;
    margin-top: 250px;
  }
  
  .friendBox{
    border-radius: 10px;
  }.actionBox{
    padding: 10px 0;
    display: none;
    border-top: 2px solid var(--bg-7);
    grid-template-columns: repeat(3, 1fr);
  }.actions{
    text-align: center;
  }
  .actions img{
    opacity: 0.7;
  }
  
  .activeBorder{
    border: 2px solid var(--bg-5);
  }.showActionBox{
    display: grid;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .friendTemplate{
    display: flex;
    padding: 10px;
  }
  .friendsProfile{
    height: 50px;
    width: 50px;
    overflow: hidden;
    object-fit: cover;
    background: #000;
    border-radius: 100px;
  }
  .names{
    margin-left: 10px;
  }.userName{
    opacity: 0.9;
  }.uid{
    font-size: 90%;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
  }