:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-family: "Itim", cursive;
  --font-weight: 400;
  --font-style: normal;

  --foreground-rgb: 0, 0, 0;
  --color: #dae2eb;
  --special-color: cornsilk;
  /* --background-color-fade: #2f4052; */
  --background-color: #16202a;
  /* --background-color: #0e0f10; */
  --bg-1: #2F4052;
  --bg-2: #2C3C4E;
  --bg-3: #293949;
  --bg-4: #273545;
  --bg-5: #243240;
  --bg-6: #212E3C;
  --bg-7: #1E2B37;
  --bg-8: #1C2733;
  --bg-9: #19242E; 
  --bg-10: #16202A;
  /* --bg-1: #01080E; */
  /* --bg-1: #0e0f10;
  --bg-2: #0e0f10;
  --bg-3: #191f25;
  --bg-4: #191f25;
  --bg-5: #1d242a;
  --bg-6: #191f25;
  --bg-7: #0e0f10;
  --bg-8: #0e0f10;
  --bg-10: #0e0f10; */

  --bg-color: #16202A;
  --text-color: #ffffff;
  --accent-color: #ff4500;
  --accent-color: #df4710;
  --link-color: #00b7ff;
  --link-color: #0ea1db;
  --section-bg-color: #1C2733;
  --section-title-color: #a2b0bf;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  user-zoom: none;
  outline: none;
  box-sizing: border-box;
  user-select: none; /* Standard syntax */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -webkit-user-select: none; /* Safari */
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;

  &&::-webkit-scrollbar {width: 0px;}
  &&::-webkit-scrollbar-track {background: none;}
  &&::-webkit-scrollbar-thumb {background: #3b3b3b;}
}
input{
  background: none;
  box-shadow: none;
  outline: none;
  color: var(--color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

html{
  font-family: var(--font-family);
}
html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}


body {
  padding: 10px 12px 0 12px;
  padding-bottom: 0px;
  height: 100dvh;
  overflow: hidden;
  color: var(--color);
  background: var(--background-color);
  /* &&::-webkit-scrollbar {width: 0px;}
  &&::-webkit-scrollbar-track {background: none;}
  &&::-webkit-scrollbar-thumb {background: #ff0000;} */
}
button{
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#eventBoard{
  &&::-webkit-scrollbar {height: 0px !important;}
  /* &&::-webkit-scrollbar-track {
    width: 0px !important;
    height: 0px !important;
    background: none !important;
  }
  &&::-webkit-scrollbar-thumb { width: 0px !important; background: none !important;} */
}


.activeSideNav{
  left: 0 !important;
}
.navChildren{
  height: 100%;
  /* padding-bottom: 15px; */
  /* overflow: scroll; */
  /* &&::-webkit-scrollbar {width: 0px;}
  &&::-webkit-scrollbar-track {background: none;}
  &&::-webkit-scrollbar-thumb {background: #3b3b3b;} */
}


.contestHighLighterMoveRight{
  margin-left: 52% !important;
  /* background-color: red !important; */
}

#globalToast{
  position: fixed;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: calc(100dvw - 20px);
  display: none;
}#toastText{
  padding: 10px 15px;
  border-radius: 3px;
  max-width: max-content;
  color: #000000;
  background-color: #ffffff;
}


@media screen and (min-width: 800px) {
  body{
    padding: 10px;
  }
}









/* #battle-details-team-section{
  &&::-webkit-scrollbar {width: 0px;}
}#battle-details-section-2-for-pc{
  &&::-webkit-scrollbar {width: 5px;}
  &&::-webkit-scrollbar-track {background: none;}
  &&::-webkit-scrollbar-thumb {background: #282828;}
}; */
