.linkContainer{
  font-size: 110%;
  margin: 20px 10px;
  border-radius: 5px;
}
.links{
  width: 100%;
  display: block;
  color: #a6a6a6;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
}
.links:hover{
  background-color: #ffffff1f;
}
.active{
  color: #040e17 !important;
  background-color: #a6a6a6;
}
.active:hover{
  color: #040e17 !important;
  background-color: #adacac;
}