.test{
  display: none;
  height: 300px;
  margin-bottom: 40px;
  background: cornflowerblue;
  overflow: scroll;
}
.chatBox{
  /* overflow: hidden; */
  height: calc(100dvh - 57px);
  overflow: auto;
}
.chats{
  /* background: cornflowerblue; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  
  /* justify-content: end; */
  height: calc(100dvh - 107px);
}

.chat{
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 90%;
}
.incomingChat, .outgoingChat{
  margin-bottom: 7px;
}
.outgoingChat{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.outgoingChat .chat{
  max-width: 70dvw;
  margin-bottom: 4px;
  width: max-content;
  background: rgb(204, 56, 2);
  background: #159;
  white-space: pre-wrap;
  &:last-child{
    border-radius: 10px 10px 0 10px;
  }
}
.incomingChat .chat{
  max-width: 70dvw;
  margin-bottom: 4px;
  width: max-content;
  background: var(--bg-5);
  white-space: pre-wrap;
  &:last-child{
    border-radius: 10px 10px 10px 0;
  }
}



.inputBox{
  padding: 10px 20px;
  background: var(--bg-4);
  border-radius: 20px;
  width: 100%;
  /* width: calc(100dvw - 20px); */
}
.input{
  height: auto;
  resize: none;
  color: #d9d9d9;
  background: var(--bg-4);
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
}


.inputArea{
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: flex-end;
  width: calc(100dvw - 20px);
}
.sendBtn{
  height: 45px;
  width: 70px;
  margin-left: 5px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  background: #000000;
}