.battle-details{
  /* margin-bottom: 100px; */
  background-color: var(--bg-10);
}
.arrow-back{
  position: absolute;
  z-index: 1;
  scale: 0.8;
  top: 20px;
  left: 20px;
  cursor: pointer;
}.img{
  overflow: hidden;
  object-fit: cover;
  max-width: max-content;
}.img img{
  scale: 1.01;
  width: 100vw;
  aspect-ratio: 16/9;
}

.winners{
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}
.winner-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.winner-gold-section{
  margin-top: -15px;
}
.winner-trophy-img{
  width: 60px;
  margin-left: -7px;
}
.winning-prize{
  font-weight: 600;
  font-size: 160%;
}

.register-btn{
  border-radius: 2px;
  padding: 12px 17px;
  background-color: #610b00;
}
.register-btn button{
  width: 100%;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  /* background-color: #bd0026; */
  background: linear-gradient(97deg, #b31500 0%, #c54200 100%);
}


.room-auth{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #151F27;
}
.room-id{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}.room-auth span{
  color: #89c2e9;
}
.room-pass{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.section2{
  padding: 20px;
}

.setting{
  font-size: 110%;
  /* padding: 10px 20px; */
  padding: 10px;
}

.setting-span{
  min-width: 200px;
  display: inline-block;
}
.border{
  border-radius: 10px;
  border: 2px solid #33414d;
}



@media screen and (min-width: 510px) {
  .battle-details{
    height: 100%;
    display: flex;
    overflow: hidden;
    /* height: calc(100vh - 70px); */
  }.arrow-back{
    scale: 1;
    top: 50px;
    left: 50px;
  }.img{
    border-radius: 10px;
  }.img img{
    width: 50vw;
  }

  .winners{
    padding: 40px 0 0 0;
    /* height: 140px; */
  }
  .register-btn-container{
    margin-top: 20px;
  }
  .register-btn{
    border-radius: 5px;
  }
  .register-btn button{
    font-size: 130%;
  }


  .section2{
    width: 100%;
    overflow: auto;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #ffffff06;
  }
}
@media screen and (max-width: 510px) {
  .winners{
    padding: 40px 0 0px 0;
    /* height: 100px; */
  }
  .register-btn-container{
    width: 100%;
    bottom: 30px;
    position: fixed;
    /* background-color: blanchedalmond; */
  }
  .register-btn{
    margin: 0 15px;
  }
  .section2{
    margin-bottom: 110px;
  }
}