/* .passwordAndSecurityContainer{
  height: 250px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--bg-7);
}
.passwordAndSecurityLable{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  padding: 0 30px 0 10px;
  font-family: monospace;
  font-size: larger;
  font-weight: 700;
  opacity: 0.7;
} */


/* 
.passwordSecurity {
  max-width: 400px;
  margin: 0 auto;
}

.h2 {
  margin-top: 25px;
  padding: 0 30px 0 10px;
  font-family: monospace;
  font-size: larger;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--bg-3);
}

.input[type="password"]:focus {
  border-color: #ff6600;
  outline: none;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #e65c00;
}

.message {
  margin-top: 10px;
  text-align: center;
  color: #ff6600;
}

.bgColorPart{
  background: var(--bg-7);
  padding: 10px 20px;
  border-radius: 5px;
  color: #ccc;
} */


.passwordSecurity {
  max-width: 400px;
  margin: 0 auto;
}

.h2 {
  margin-top: 25px;
  padding: 0 30px 0 10px;
  font-family: monospace;
  font-size: larger;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ccc;
}

.passwordInputWrapper {
  display: flex;
  align-items: center;
}

.input[type="password"],
.input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--bg-3);
  color: #fff;
}

.input[type="password"]:focus,
.input[type="text"]:focus {
  border-color: #ff6600;
  outline: none;
}

.showHideButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: inherit;
  border: 2px solid var(--bg-1);
}

.button:hover {
  background-color: var(--bg-10);
}

.message {
  margin-top: 10px;
  text-align: center;
  color: #666666;
}


.bgColoredSection{
  background: var(--bg-6);
  padding: 10px 20px;
  border-radius: 5px;
}