.passwordSecurity {
  width: 100%;
  /* max-width: 600px; */
  margin: 0 auto;
}
.coloredSection{
  background: var(--bg-6);
  padding: 10px 20px;
  border-radius: 5px;
}

.title {
  margin-top: 25px;
  padding: 0 30px 0 10px;
  font-family: monospace;
  font-size: larger;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  margin-bottom: 10px;
  color: #ccc;
  font-weight: 700;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #8e8d8d;
  margin-left: 5px;
}

.passwordInputWrapper {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--bg-3);
  color: #fff;
}

.input:focus {
  border-color: #ff6600;
  outline: none;
}

.showHideButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 0;
}

.updateButton,
.logoutButton {
  width: 100%;
  padding: 10px;
  background: inherit;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid var(--bg-1);
}

.updateButton:hover,
.logoutButton:hover {
  background-color: var(--bg-10);
}

.message {
  margin-top: 10px;
  text-align: center;
  color: #676767;
  counter-reset: #676767;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleLabel {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.loginActivityList {
  list-style-type: none;
  padding: 0;
}

.loginActivityItem {
  margin-bottom: 10px;
}

.loginDetails {
  margin-bottom: 3px;
}

.featuresList {
  list-style-type: none;
  padding: 0;
}

.featuresList li {
  margin-bottom: 5px;
}
