.allMembers{
  margin-top: 10px;
}
.friendBox{
  border-radius: 10px;
}

.memberProfile{
  width: 70px;
  height: 50px;
  display: flex;
}
.removeMemberPng{
  position: relative;
  right: 12px;
  top: 30px;
  bottom: 5px;
}





.friendTemplate{
  display: flex;
  padding: 10px;
}
.friendsProfile{
  height: 50px;
  width: 50px;
  overflow: hidden;
  object-fit: cover;
  background: #000;
  border-radius: 100px;
}.userName{
  opacity: 0.9;
}.uid{
  font-size: 90%;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}













.selectedMembers{
  display: flex;
  overflow: auto;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--bg-5);
}.selectedMember{
  margin: 10px;
  text-align: center;
}

.selectedMembersProfile{
  display: flex;
  height: 50px;
  width: 50px;
}.selectedMembersProfile img{
  border-radius: 100px;
  object-fit: cover;
}.selectedMembersProfile .img2{
  position: relative;
  right: 10px;
  /* top: 30px; */
}

.selectedMembersUsername{
  text-align: center;
  font-size: 50%;
}




