.modalContainer{
  height: 100dvh;
  width: 100dvw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  display: grid;
  place-items: center;
  background: #00000080;
  scale: 0;
}
.modal{
  width: 80dvw;
  background: var(--bg-6);
}

.prompts{
  margin: 30px;
}

.show{
  scale: 1 !important;
}