.modalContainer{
  /* background-color: rebeccapurple; */
  /* height: 80dvh; */
}
.modal{
  position: absolute;
  height: 60dvh;
  margin: auto;
  padding: 10px;
  width: calc(100dvw - 60px);
  border-radius: 4px;
  color: var(--color);
  background: var(--bg-5);
  border: 2px solid var(--bg-1);
}.openModalBtn{
  height: 20px;
  width: 20px;
  overflow: hidden;
}.openModalBtn img{
  opacity: 0.7;
}

.blackFilm{
  height: 100dvh;
  width: 100dvw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}


