.contestContainer{
  /* height: calc(100dvh - 57px); */
}
.pageHeadlines{
  height: 40px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headlineText{
  display: grid;
  cursor: pointer;
  font-size: 120%;
  color: #b5c3cf;
  place-items: center;
  
}
.highLighter{
  height:4px;
  width: calc(50dvw - 30px);
  margin: 0 3%;
  position: absolute;
  transition: all 0.4s;
  border-radius: 10px;
  background-color: #a9a9a9;
}
.highLightCompleted{
  margin-left: calc(50dvw - 5px);
}

.contestPageContainer{
  height: calc(100dvh - 150px);
  overflow: auto;
  margin-top: 20px;
  
}
.contestPages{
  min-width: 100%;
  padding-bottom: 40px;
  scroll-snap-align: start;
}